langchain
langchain-core
langchain-classic
langchain-ollama
langchain-groq
langgraph
pydantic
python-dotenv
librosa
fastapi
uvicorn
supabase
PyJWT
noisereduce
python-multipart
psutil
pdfplumber
python-docx
tiktoken
langchain-google-genai
# -e .
